.header1 #hiddenMenu {
	margin-top 				: 50px !important;
}

#userLogo:hover + #hiddenMenu, #hiddenMenu:hover {
	visibility 				: visible;
	opacity 				: 1;
}

#hiddenMenu {
	margin-left 			: -176px;
	margin-top 				: 125px;
}

#userLogoMobile:hover + #hiddenMenuMobile, #hiddenMenuMobile:hover {
	visibility 				: visible;
	opacity 				: 1;
}

#hiddenMenuMobile {
	margin-left 			: -253px;
	margin-top 				: 65px;
}

.logo img, .logo-mobile img {
	max-width: 120px;
}

.bg-title-page {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
}

.table-shopping-cart .table-row .column-4 {
	padding-left: 40px;
}